@import "tailwindcss";
@import "@nuxt/ui";

:root {
	--ui-header-height: --spacing(24);
	--ui-primary: var(--ui-color-primary-500);
	--ui-secondary: var(--ui-color-secondary-500);
	--ui-bg-default: var(--ui-color-bg-light);
}

.dark {
	--ui-primary: var(--ui-color-primary-700);
	--ui-secondary: var(--ui-color-secondary-700);
	--ui-bg-default: var(--ui-color-bg-dark);
}

/* Transizioni pagina - fade in/out semplice */
.page-enter-active,
.page-leave-active {
	transition: opacity 0.15s ease;
}

.page-enter-from,
.page-leave-to {
	opacity: 0;
}

.simple-title {
	@apply font-bold text-primary-700 text-4xl;
}

@theme static {
	/* primary */
	--color-primary-100: #d4eaf3;
	--color-primary-200: #a9d5e7;
	--color-primary-300: #7ec0db;
	--color-primary-400: #53accf;
	--color-primary-500: #3493b8;
	--color-primary-600: #297592;
	--color-primary-700: #1f576e;
	--color-primary-800: #153a49;
	--color-primary-900: #0a1d25;

	/* secondary */
	--color-secondary-100: #fadbd1;
	--color-secondary-200: #f5b8a3;
	--color-secondary-300: #f09475;
	--color-secondary-400: #eb7047;
	--color-secondary-500: #e44e1a;
	--color-secondary-600: #b83d14;
	--color-secondary-700: #8a2e0f;
	--color-secondary-800: #5c1f0a;
	--color-secondary-900: #2e0f05;

	/* background colors */
	--color-bg-light: #ebfffb;
	--color-bg-dark: #050505;

	/* mobile breakpoint */
	--breakpoint-xs: 30rem;
}
